<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codevumc.codev_backend.mapper.CoCategoryMapper">
    <select id="getLocation" resultType="CoLocation">
        select * from CoLocation
    </select>

    <select id="getParts" resultType="CoPart">
        select * from CoPart
    </select>
    
    <select id="getLanguageOfPart" resultType="CoLanguage">
        select co_language, createdAt, updatedAt
        from CoLanguage
        where co_part = #{co_part}
    </select>

</mapper>