<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codevumc.codev_backend.mapper.CoMyPageMapper">

    <update id="updateCoPortfolio" parameterType="CoPortfolio">
        update coportfolio
        set
            co_title = #{co_title},
            co_rank = #{co_rank},
            co_headLine=#{co_headLine},
            co_introduction =#{co_introduction}
        where co_portfolioId = ${co_portfolioId}
    </update>

    <update id="updateCoLaguageOfPortfolio">
        update colaguageofportfolio
        set
            co_laguageId = #{co_laguageId}
        where co_portfolioId = ${co_portfolioId}
    </update>

    <update id="updateCoLinkOfPortfolio" parameterType="hashMap">
        update colinkofportfolio
        set
            co_link = #{co_link}
        where co_portfolioId = ${co_portfolioId}
    </update>

</mapper>
