<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codevumc.codev_backend.mapper.CoProjectMapper">


    <insert id="insertCoProject" parameterType="CoProject" useGeneratedKeys="true" keyProperty="co_projectId">
        INSERT INTO CoProject
            (co_email, co_title, co_location, co_content, co_process, co_deadLine)
        VALUES (#{co_email}, #{co_title}, #{co_location}, #{co_content}, 'ING', #{co_deadLine})

    </insert>

    <insert id="insertCoPartOfProject" parameterType="long">
        INSERT INTO CoPartOfProject
            (co_projectId, co_partId, co_limit)
        VALUES (#{co_projectId}, #{co_partId}, #{co_limit})
    </insert>


    <insert id="insertCoLanguageOfProject">
        INSERT INTO CoLanguageOfProject
        (co_projectId, co_languageId)
        values (#{co_projectId}, #{co_languageId})
    </insert>


    <select id ="getCoHeartOfProject" resultType="CoHeartOfProject">
        SELECT status FROM CoHeartOfProject WHERE co_projectId = ${co_projectId}
    </select>

    <insert id ="insertCoHeartOfProject" >
        INSERT INTO CoHeartOfProject (co_email,co_projectId)
        VALUES (#{co_email},#{co_projectId})
    </insert>



</mapper>