<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codevumc.codev_backend.mapper.CoQnaBoardMapper">

    <update id="updateCoMainImg">
        UPDATE CoQnaBoard
        SET co_mainImg = #{co_mainImg}
        WHERE `co_qnaId` = #{co_qnaId};
    </update>

    <insert id="insertCoQnaBoard" parameterType="CoQnaBoard" useGeneratedKeys="true" keyProperty="co_qnaId">
        INSERT INTO CoQnaBoard
            (co_email, co_title, content)
        VALUES (#{co_email}, #{co_title}, #{content})
    </insert>

    <insert id="insertCoCommentOfQnaBoard" parameterType="CoCommentOfInfoBoard" useGeneratedKeys="true" keyProperty="co_coqb">
        INSERT INTO CoCommentOfQnaBoard
            (co_email,co_qnaId,content)
        VALUES (#{co_email}, #{co_qnaId}, #{content})
    </insert>

    <insert id="insertCoReCommentOfQnaBoard" parameterType="CoReCommentOfQnaBoard">
        INSERT INTO CoReCommentOfQnaBoard
            (co_email, co_coqb, content)
        VALUES (#{co_email}, #{co_coqb}, #{content})
    </insert>

    <select id ="getCoMarkOfQnaBoardEmail" resultType="Long">
        SELECT co_moqb FROM CoMarkOfQnaBoard
        WHERE co_email=#{co_email} AND co_qnaId=#{co_qnaId}
    </select>

    <insert id ="insertCoMarkOfQnaBoard">
        INSERT INTO CoMarkOfQnaBoard (co_email,co_qnaId)
        VALUES(#{co_email},#{co_qnaId})
    </insert>

    <delete id ="deleteCoMarkOfQnaBoard">
        DELETE FROM CoMarkOfQnaBoard
        WHERE co_email =#{co_email} AND co_qnaId = #{co_qnaId}
    </delete>

    <select id="getCoQnaBoardByViewer" parameterType="hashMap" resultType="CoQnaBoard">
        select cqb.co_qnaId                                                                as 'co_qnaId',
               cqb.co_email                                                                as 'co_email',
               cqb.co_title                                                                as 'co_title',
               cqb.content                                                                 as 'content',
               (select count(co_qnaId) from CoLikeOfQnaBoard where co_qnaId = #{co_qnaId}) as 'co_likeBoardCount',
               (select SUM(C.cnt)
                from(
                    select count(ccoqb.co_qnaId) as cnt
                    from CoCommentOfQnaBoard as ccoqb
                    where ccoqb.co_qnaId = #{co_qnaId}

                    UNION ALL

                    select count(crcoqb.co_coqb) as cnt
                    from CoReCommentOfQnaBoard as crcoqb
                    left join CoCommentOfQnaBoard as ccoqb on crcoqb.co_coqb = ccoqb.co_coqb
                    where ccoqb.co_qnaId = #{co_qnaId}
                    )C)                                                                    as 'commentCount',
               if(cmoqb.co_moqb, 1, 0)                                                     as 'co_mark',
               cqb.createdAt                                                               as 'createdAt',
               cqb.updatedAt                                                               as 'updatedAt'
        from CoQnaBoard as cqb
                 left join (select co_qnaId,
                                   co_moqb
                            from CoMarkOfQnaBoard
                            where co_qnaId = #{co_qnaId} and co_email = #{co_email}) cmoqb on cqb.co_qnaId = cmoqb.co_qnaId
        where cqb.co_qnaId = #{co_qnaId};
    </select>

    <select id="getComment" resultType="CoCommentOfQnaBoard" resultMap="commentResult">
        select co_coqb, co_qnaId, co_email, content, createdAt
        from CoCommentOfQnaBoard
        where co_qnaId = #{co_qnaId}
    </select>

    <select id="getReComment" resultType="CoReCommentOfQnaBoard">
        select co_rcoqb, co_coqb, co_email, content, createdAt
        from CoReCommentOfQnaBoard
        where co_coqb = #{co_coqb}
    </select>

    <resultMap id="commentResult" type="CoCommentOfQnaBoard">
        <result property="co_coqb" column="CO_COQB"/>
        <result property="co_qnaId" column="CO_QNAID"/>
        <result property="co_email" column="CO_EMAIL"/>
        <result property="content" column="CONTENT"/>
        <result property="createdAt" column="CREATEDAT"/>
        <collection property="coReCommentOfQnaBoardList" column="CO_COQB" javaType="java.util.ArrayList" ofType="CoReCommentOfQnaBoard" select="getReComment"/>
    </resultMap>

    <select id="getCoQnaBoards" parameterType="hashMap" resultType="CoQnaBoard">
        select distinct
            cqb.co_qnaId as 'co_qnaId',
            cqb.co_email as 'co_email',
            cu.profileImg as 'profileImg',
            cqb.co_title as 'co_title',
            substr(cqb.content, 1, 40) as 'content',
            cqb.co_mainImg as 'co_mainImg',
            (select count(*) from CoLikeOfQnaBoard cloqb where cloqb.co_qnaId = cqb.co_qnaId) as 'co_likeCount',
            (select
                     (select count(*) from CoCommentOfQnaBoard ccoqb2 where ccoqb2.co_qnaId = cqb.co_qnaId) +
                     (select count(*) from CoReCommentOfQnaBoard crcoqb where crcoqb.co_coqb = ccoqb.co_coqb)) as 'co_commentCount',
            (select count(*) from CoMarkOfQnaBoard cmoqb where cmoqb.co_qnaId = cqb.co_qnaId) as 'co_markCount',
            if(cmoqb.co_email is null, false, true) as 'co_mark',
            cqb.createdAt as 'createdAt',
            cqb.updatedAt as 'updatedAt'
        from CoQnaBoard cqb
                left join CoUser cu on cqb.co_email = cu.co_email
                left join CoMarkOfQnaBoard cmoqb on cmoqb.co_qnaId = cqb.co_qnaId and cmoqb.co_email = #{co_email}
                left join CoCommentOfQnaBoard ccoqb on cqb.co_qnaId = ccoqb.co_qnaId
        <if test="co_keyword != null and !co_keyword.equals('')">
            where cqb.co_title like #{co_keyword} or cqb.content like #{co_keyword}
        </if>
        order by
        <choose>
            <when test='co_sortingTag.equals("POPULARITY")'>
                co_likeCount desc limit
            </when>
            <otherwise>
                createdAt desc limit
            </otherwise>
        </choose>
        #{limit} offset #{offset}
    </select>

    <select id="getCoQnaComment" resultType="CoCommentOfQnaBoard">
        select * from CoCommentOfQnaBoard where co_coqb = #{co_coqb}
    </select>

    <select id="getCoQnaReComment" resultType="CoReCommentOfQnaBoard">
        select * from CoReCommentOfQnaBoard where co_rcoqb = #{co_rcoqb}
    </select>

    <delete id="deleteCoQnaComment" parameterType="hashMap">
        delete from CoCommentOfQnaBoard where co_email = #{co_email} and co_coqb = #{co_coqb}
    </delete>

    <delete id="deleteCoQnaReComment" parameterType="hashMap">
        delete from CoReCommentOfQnaBoard where co_email = #{co_email} and co_rcoqb = #{co_rcoqb}
    </delete>

</mapper>