<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codevumc.codev_backend.mapper.CoUserMapper">


    <select id="findAll" resultType="CoUser">
        SELECT * FROM CoUser;
    </select>

    <select id="getFCMToken" parameterType="hashMap" resultType="String">
        select FCMToken
        from CoUser
        where co_email in
        <foreach collection="co_emails" item="co_email" index="index" open="(" separator="," close=")">
            #{co_email}
        </foreach>
    </select>

    <update id="updateFCMToken" parameterType="String">
        update CoUser
        set FCMToken = #{FCMToken}
        where co_email = #{co_email}
    </update>

    <select id="findByEmail" resultType="CoUser">
        select
            co_email,
            co_password,
            co_nickName,
            co_name,
            co_birth,
            co_gender,
            role,
            profileImg,
            co_loginType
        from CoUser
        where co_email = #{co_email}
    </select>

    <insert id="insertCoUser" parameterType="CoUser">
        insert into CoUser (co_email, co_password, co_nickName, co_name, co_birth, co_gender, role, co_loginType)
        VALUES (#{co_email}, #{co_password}, #{co_nickName}, #{co_name}, #{co_birth}, #{co_gender}, #{role}, #{co_loginType})
    </insert>

    <update id="updateProfileImg">
        UPDATE CoUser
        SET profileImg = #{profileImg}
        WHERE `co_email` = #{co_email};
    </update>

    <update id="updateProfile">
        UPDATE CoUser
        SET co_name = #{co_name},
            co_nickName = #{co_nickName},
            profileImg = null
        WHERE co_email = #{co_email}
    </update>

    <update id="updateLoginType">
        UPDATE CoUser
        SET co_loginType = #{co_loginType}
        WHERE `co_email` = #{co_email};
    </update>

    <select id="isExistedEmail" resultType="boolean">
        select exists(select co_email from CoUser where co_email = #{co_email})
    </select>

    <update id="updatePassword" parameterType="CoUser">
        UPDATE CoUser
        SET co_password = #{co_newPassword}
        where co_email = #{co_email}
    </update>

</mapper>